<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>אתר סדרות</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        img.gallery {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body dir="rtl" style="background-color: lightcyan">
    <center>
        <font style="color: midnightblue; font-size: 50px; font-variant"> סדרות</font>
        <table border="1" style="width: 90%; height: 600px">
            <tr style="height:100px" >
                <td style="text-align:center">
                    <a href="Home.aspx"><img class="gallery" src="photos/logoP/HomeM.png" /></a>
                    <a href="entering.aspx"><img  class="gallery"  src="photos/logoP/כניסה מ.png" /></a>
                       <a href="info.aspx"><img  class="gallery"  src="photos/logoP/מידע מ.png" /></a>
                    <a href="gallery.aspx"><img class="gallery" src="photos/logoP/גלריה מ.png" /></a>
                          <a href="exit.aspx"><img class="gallery" src="photos/logoP/יציאה מ.png" /></a>
                          <a href="search.aspx"><img class="gallery" src="photos/logoP/חיפוש מ.png" /></a>
                     <a href="manager.aspx"><img class="gallery" src="photos/logoP/מנהל מ.png" /></a>
                       <a href="updateDetails.aspx"><img class="gallery" src="photos/logoP/עדכון פרטים מ.png" /></a>
                     <a href="signUp.aspx"><img class="gallery" src="photos/logoP/הרשמה מ.png" /></a>
                      <a href="infoSeries.aspx"><img class="gallery" src="photos/logoP/מידע על סדרות מ.png" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            </table>
        </center>
</body>
</html>
